<p>info works!</p>

<br />
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" > -->
<div class = "panel-body">
<div
class="card text-white bg-secondary mb-3"
  style="max-width: 60rem;margin: auto;"
>
  <div class="card-header"><h1 class="title">User Information </h1></div>
  <div class="card-body">
    <p class="need">Please Fill up the forms!</p>

    <form action= "personal_informationProc.php" method="get">

     <div class="form-group">
        <label for="name">Name:</label><br>
        <input type="text" class="form-control" id="name" name="name"><br>
    </div>

    <div class="form-group">
        <label for="nric">National Registration Identity Card (NRIC) :</label><br>
        <input type="text" class="form-control" id="nric" name="nric"><br>
    </div>
    
    <div class="form-group">
        <label for="address">Adress :</label><br>
        <input type="text" class="form-control" id="address" name="address"><br>
    </div>

    <div class="form-group">
        <label for="age">Age :</label><br>
        <input type="text" class="form-control" id="age" name="age"><br>
    </div>
    
    <div class="form-group">
        <label for="gender">Gender :</label><br>
        <input type="text" class="form-control" id="gender" name="gender"><br>
    </div>


     <div class="form-group">
        <label for="phonenumber">Phone Number :</label><br>
        <input type="text" class="form-control" id="phonenumber" name="phonenumber"><br>
    </div>


     <div class="form-group">
        <label for="email">Enter your email:</label><br>
        <input type="email" class="form-control" id="email" name="email"><br>
    </div>

    <div class="form-group">
        <label for="religon">Religon :</label><br>
        <input type="text" class="form-control" id="religon" name="religon"><br>
    </div>

    <div class="form-group">
        <label for="nationality">Nationality  :</label><br>
        <input type="text" class="form-control" id="nationality" name="nationality"><br>
    </div>

    <div class="form-group">
        <label for="maritalstatus">Matrial status :</label><br>
        <input type="text" class="form-control" id="maritalstatus" name="maritalstatus"><br>
    </div>

    <div class="form-group">
        <label for="positionhistory">Position History :</label><br>
        <input type="text" class="form-control" id="position" name="positionhistory"><br>
    </div>
    
    <div class="form-group">
        <label for="lastsalary">Last Salary :</label><br>
        <input type="text"  class="form-control" id="salary" name="lastsalary"><br>
    </div>

    <div class="form-group">
        <label for="expectedsalary">Expected Salary:</label><br>
        <input type="text" class="form-control" id="exsalary" name="expectedsalary"><br>
    </div>

     <div class="form-group">
        <label for="lastcompanyname">Last Company:</label><br>
        <input type="text" class="form-control" id="lcompany" name="lastcompanyname"><br>
    </div>

    <div class="form-group">
        <label for="businesscategory">Business category:</label><br>
        <input type="text" class="form-control" id="bcat" name="businesscategory"><br>
    </div>

    <div class="form-group">
        <label for="lastposition">Last Position:</label><br>
        <input type="text" class="form-control" id="lposition" name="lastposition"><br>
    </div>

    <div class="form-group">
        <label for="workingperiod">Working Period:</label><br>
        <input type="text" class="form-control" id="wperiod" name="workingperiod"><br>
    </div>

     <div class="form-group">
        <label for="reasonleaving">Reason Leaving :</label><br>
        <input type="text" class="form-control" id="rleave" name="reasonleaving"><br>
    </div>

    <!-- <button type="submit"
    class="btn btn-primary" (click)="Save(myForm)" >
    Submit
    </button> -->
        <input type="submit" value="Submit">
        <!-- <button type="submit" formmethod="post">Submit</button> -->
    </form>
 </div>
 </div>
</div>